# Streamlit
STREAMLIT_ADDRESS=0.0.0.0
STREAMLIT_PORT=8501

# Spark opcional para laboratorios avanzados
SPARK_MASTER=local[*]
SPARK_MEMORY=1G

# Valores iniciales sugeridos para la simulacion
TOTAL_CIUDADANOS=1000000
TOTAL_VOTOS=650000
TOTAL_LOGS=1500000
FECHA_JORNADA=2026-04-15
MAX_CIUDADANOS_SIMULACION=2200166

# Ambiente educativo
ENVIRONMENT=education
